<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" >Licences</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">{{FirstName}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">{{LastName}}</a>
        </li>

      </ul>

      <div class="marR" *ngIf="typeCompte=='CM'">
        <button type="button" class="btn btn-outline-secondary" routerLink="/UsersAdm">Users</button>
    </div>

      <div class="marR">
          <button type="button" class="btn btn-outline-secondary" routerLink="/softwares">Softwares</button>
      </div>

      <div class="marR">
          <button type="button" class="btn btn-secondary" routerLink="/licences">Licences</button>
      </div>

      <div class="marR" *ngIf="typeCompte=='CM'">
        <button (click)="clickAddLicence()" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Licence</button>
      </div>
      <div class="dropdown d-flex">
        
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown link
        </a>
      
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li *ngIf="typeCompte=='CM'"><a class="dropdown-item" routerLink="/LDLAA">Licences Requests</a></li>
          <li *ngIf="typeCompte=='CM'"><a class="dropdown-item" routerLink="/LDSAA">Softwares Requests</a></li>
          <li *ngIf="typeCompte=='CU'"><a class="dropdown-item" routerLink="/LDLAU">Licences Requests</a></li>
          <li *ngIf="typeCompte=='CU'"><a class="dropdown-item" routerLink="/LDSAU">Softwares Requests</a></li>
          <li><a class="dropdown-item" (click)="onDeconnexion()">Log-Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container  content cont">
 
    <form>
        <div class="mb-3 form-group">
          <label for="exampleInputEmail1">Search Term</label>
          <input type="text" [(ngModel)]="term" name="term" class="form-control">
        </div>
    </form>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Refernce</th>
            <th scope="col">Serial</th>
            <th scope="col"> Type</th>
            <th scope="col"> Cost</th>
            <th scope="col"> currency</th>
            <th scope="col"> BO alloc</th>
            <th scope="col"> Seller Contract Ref</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of licenceData | paginate: { itemsPerPage: 6, currentPage: p} | filter : term">
            <td>{{row.lic_ref}}</td>
            <td>{{row.lic_serial}}</td>
            <td>{{row.lic_type}}</td>
            <td>{{row.lic_cost}}</td>
            <td>{{row.currency}}</td>
            <td>{{row.lic_BO_alloc}}</td>
            <td>{{row.lic_vend_cont_ref}}</td>
            <td *ngIf="typeCompte=='CM'">
                <button (click)="onEdit(row)" style="color: aliceblue" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Edit</button>
                <button (click)="deleteLicence(row)" class="btn btn-danger mx-3">Delete</button>
            </td>
            <td *ngIf="typeCompte=='CU'">
              <button (click)="DemLictApr(row)" type="button" class="btn btn-outline-dark">Request</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="cent"> 
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Licence Model</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Lic_ref</label>
                  <input type="text" formControlName="lic_ref" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Lic_serial</label>
                  <input type="text" formControlName="lic_serial" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Lic_type</label>
                    <input type="text" formControlName="lic_type" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Lic_cost</label>
                    <input type="text" formControlName="lic_cost" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Currency</label>
                    <input type="text" formControlName="currency" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Lic_BO_alloc</label>
                    <input type="text" formControlName="lic_BO_alloc" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Lic_vend_cont_ref</label>
                    <input type="text" formControlName="lic_vend_cont_ref" class="form-control" id="exampleInputPassword1">
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postLicence()" class="btn btn-primary">Save</button>
          <button type="button" *ngIf="showUpdate" (click)="updateLicence()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>

