<div class="container  cont">
    <form class="content" [formGroup]="registerForm" (ngSubmit)="submitData()">
        <h3> Register Form </h3>
        <div class="row">
            <div class="mt-2 mb-2 col-lg-6 col-6">
                <input type="text" formControlName="firstName" class="form-control" placeholder="first Name">
                
                <div *ngIf="firstname.invalid && (firstname.touched || firstname.dirty)">
                   <span class="error" *ngIf="firstname.errors?.required">*First Name Required</span>   
                   <span class="error" *ngIf="firstname.errors?.pattern">*Only Characters</span>   
                </div>

            </div>
            <div class="mt-2 mb-2 col-lg-6 col-6">
                <input type="text" formControlName="lastName" class="form-control" placeholder="last Name">

                <div *ngIf="lastname.invalid && (lastname.touched || lastname.dirty)">
                    <span class="error" *ngIf="lastname.errors?.required">*Last Name Required</span>   
                    <span class="error" *ngIf="lastname.errors?.pattern">*Only Characters</span>   
                </div>

            </div>
        </div>
        <div class="mt-2 mb-2 col-lg-12 col-12">
            <input type="text" formControlName="emailId" class="form-control" placeholder="Emaill">
            
            <div *ngIf="emailid.invalid && (emailid.touched || emailid.dirty)">
                <span class="error" *ngIf="emailid.errors?.required">*Email Required</span>   
                <span class="error" *ngIf="emailid.errors?.email">*Entre Valid Email</span>   
            </div>
        </div>

        <div class="mt-2 mb-2 col-lg-12 col-12">
            <input type="password" formControlName="Password" class="form-control" placeholder="password">

            <div *ngIf="password.invalid && (password.touched || password.dirty)">
                <span class="error" *ngIf="password.errors?.required">*Password Required</span>   
            </div>

        </div>

        <div class="mt-2 mb-2 col-lg-12 col-12">
            <input type="text" formControlName="mobileNumber" class="form-control" placeholder="Mobile">
            <div *ngIf="mobilenumber.invalid && (mobilenumber.touched || mobilenumber.dirty)">
                <span class="error" *ngIf="mobilenumber.errors?.required">*Mobile Number Required</span>   
                <span class="error" *ngIf="mobilenumber.errors?.pattern">*Only Numbers</span>   
            </div>
        </div>
        <div class="mt-4 mb-4 d-grid gap-2">
            <button  type="submit" class="btn btn-dark" [disabled]="registerForm.invalid">Submit</button>
        </div>

    </form>
</div>
