<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container-fluid">
      <a class="navbar-brand">List Demmande approve Softwares</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">{{firstName}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">{{lastName}}</a>
          </li>
  
  
  
        </ul>

        <div class="marR" *ngIf="typeCompte=='CM'">
          <button type="button" class="btn btn-outline-secondary" routerLink="/UsersAdm">Users</button>
      </div>

        <div class="marR">
            <button type="button" class="btn btn-outline-secondary" routerLink="/softwares">Softwares</button>
        </div>
  
        <div class="marR">
            <button type="button" class="btn btn-outline-secondary" routerLink="/licences">Licences</button>
        </div>
  
        <div class="dropdown d-flex">
          
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
        
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li *ngIf="typeCompte=='CM'"><a class="dropdown-item" routerLink="/LDLAA">Licences Requests</a></li>
            <li *ngIf="typeCompte=='CM'"><a class="dropdown-item" routerLink="/LDSAA">Softwares Requests</a></li>
            <li *ngIf="typeCompte=='CU'"><a class="dropdown-item" routerLink="/LDLAU">Licences Requests</a></li>
            <li *ngIf="typeCompte=='CU'"><a class="dropdown-item" routerLink="/LDSAU">Softwares Requests</a></li>
            <li><a class="dropdown-item" (click)="onDeconnexion()">Log-Out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  


<div class="container  content cont">
 
    <form>
        <div class="mb-3 form-group">
          <label for="exampleInputEmail1">Search Term</label>
          <input type="text" [(ngModel)]="term" name="term" class="form-control">
        </div>
    </form>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">soft_ref</th>
            <th scope="col">date_Request</th>
            <th scope="col">date_Approv</th>
            <th scope="col">acceptee</th>
          </tr>
        </thead>
        <tbody>
        
          <tr  *ngFor="let row of DemAprSofData | paginate: { itemsPerPage: 6, currentPage: p} | filter : term" >
            <td *ngIf="row.user.id_compte==KeyUser">{{row.software.soft_ref}}</td>
            <td *ngIf="row.user.id_compte==KeyUser">{{row.date_Request}}</td>
            <td *ngIf="row.user.id_compte==KeyUser">{{row.date_Approv}}</td>
            <td *ngIf="row.user.id_compte==KeyUser">{{row.acceptee}}</td>
          </tr>
        </tbody>
      </table>
      <div class="cent"> 
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
</div>